#landing-page,
#login-page {
	color: #c0def4;
}

#form-container {
	background-color: #202342;
	border-radius: 20px;
	box-shadow: 3px 3px 6px #141627;
	color: #c0def4;
}

.form-group input {
	background-color: #c6e2f5;
}

.tittle {
	text-shadow: 1px 1px 2px #000;
}

form button {
	background-color: #688efd;
	border: none;
	border-radius: 5px;
	padding: 8px;
	color: #fff;
	width: 100%;
	margin-top: 20px;
	box-shadow: 0px 5px 5px #141627;
}

a {
	text-decoration: none !important;
}

#crossfitters-image {
	margin-top: -80px;
}

.nav-item {
	font-size: 1.2em;
}


/*=============================================
=           User Stats Styling               =
=============================================*/

#user-stats-page {
	background-color: #202342;
	color: #fff;
	width: 425px;
}

.user-stats-submit-btn {
	background-color: #535bac;
	color: #fff;
	margin: 5px;
}

.user-stats-submit-btn:hover {
	background-color: #4d549e;
}

/*=============================================
=             Members Page                   =
=============================================*/
.members-page {
	display: flex;
	flex-wrap: wrap;
}

div.modal-content {
	background-color: #2d325a;
}

div.modal-header > button.close {
	color: #fff;
}

div.modal-footer button {
	background-color: #4d549e;
	border: none;
}

/*=============================================
=              Avatar Page                   =
=============================================*/
#avatar-page {
	color: #fff;
}

#avatar-page svg {
	display: block;
	margin: 0 auto;
	width: 220px;
}

#avatar-container {
	width: 425px;
	margin: 0 auto;
}

#avatar-submit-btn {
	background-color: #6e74b9;
	color: #fff;
}

#avatar-submit-btn:hover {
	background-color: #6068b2;
}

/*=============================================
=                 Media Queries               =
=============================================*/
@media only screen and (max-width: 426px) {
	.tittle {
		font-size: 2.25em;
	}

	.lead {
		font-size: 1.1em;
	}

	#user-stats-page {
		width: 320px;
	}
	#user-stats-page h4 {
		font-size: 1.1em;
	}

	.members-page {
		justify-content: space-evenly;
	}

	.member-card {
		font-size: 0.75em;
	}

	#avatar-container {
		width: 320px;
	}
	#avatar-page svg {
		width: 180px;
	}
}

@media only screen and (min-width: 768px) {
	#crossfitters-image {
		margin-top: -150px;
	}
}
